// @media (prefers-color-scheme: dark) {
    html[data-bs-theme="dark"] body {
        .vscomp-dropbox, .popover-body {
            color: #fff !important;
            background-color: #222 !important;
        }
    
        .vscomp-wrapper:not(.has-value) .vscomp-value {
            opacity: .8;
        }
    
        // .table-light th, .table-light td, .table-light thead th, 
    
        // // .table-light.table-striped tbody tr:nth-of-type(2n+1),
        // .td-content > table.table-light tbody tr:nth-of-type(2n+1),
        // .td-box .row.section > table.table-light tbody tr:nth-of-type(2n+1) {
        //     background-color: rgba(255, 255, 255, 0.05) !important;
        // }
    
        .vscomp-option.focused {
            background: #333333;
        }
    
        .vscomp-option.selected:not(.focused) {
            background: #111111;
        }
    
        .bootstrap-select .notify, .bootstrap-select .no-results {
            background: black !important;
            border-color: black !important;
            color: white;
        }
    
        .bs-actionsbox .actions-btn {
            background: #30638E linear-gradient(180deg, #4f7a9f, #30638E) repeat-x;
            border-color: #30638E;
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
            color: white;
        }
    
        .bs-actionsbox .actions-btn:not(:disabled):not(.disabled):active, .bs-actionsbox .actions-btn:hover{
            color: #fff;
            background: #264f71 linear-gradient(180deg, #476987, #264f71) repeat-x;
            border-color: #234868;
        }
    
        .AGHome-icon, img[title="AdGuard Home"] {
            filter: invert(1);
        }
    
        .vscomp-wrapper.multiple .vscomp-option.selected .checkbox-icon::after, .vscomp-wrapper .checkbox-icon.checked::after {
            border-color: deepskyblue;
            border-left-color: rgba(0, 0, 0, 0);
            border-top-color: rgba(0, 0, 0, 0);
        }
    
        .vscomp-value {
            color: deepskyblue;
        }
    
        .vscomp-dropbox-close-button {
            background-color: #333;
        }
    }
    // }
    