// @media (prefers-color-scheme: dark) {
body[data-theme="dark"] {
    color: white !important;
    background-color: #010101 !important;

    table, .bootstrap-select .dropdown-menu.inner, .bootstrap-select .dropdown-item, .bootstrap-select .dropdown-menu {
        color: #fff !important;
        background-color: #222 !important;
    }

    .table-light th, .table-light td, .table-light thead th, #search, .td-search-input.form-control:focus, .form-control {
        border-color: #353535 !important;
    }

    .table-light.table-striped tbody tr:nth-of-type(2n+1),
    .td-content > table.table-light tbody tr:nth-of-type(2n+1),
    .td-box .row.section > table.table-light tbody tr:nth-of-type(2n+1) {
        background-color: rgba(255, 255, 255, 0.05) !important;
    }

    .pageinfo {
        background: rgba(255, 255, 255, 0.05) !important;
    }

    .td-search-input.form-control:focus {
        background-color: #353535;
        color: white !important;
    }

    .dropdown-item:hover, .dropdown-item:focus {
        background: rgba(255, 255, 255, 0.2) !important;
    }

    .td-sidebar-nav__section-title a {
        color: #dddddd;
    }

    .td-sidebar-nav .td-sidebar-link__page {
        color: #b6afa8;
    }

    table:not(class) thead th, .td-content > table thead th, table:not(class) .td-box .row.section > table thead th, table:not(class) th, .td-content > table th, .td-box .rowsection > table th, table:not(class) td, .td-content > table td, table:not(class) .td-box .row.section > table td {
        border-color: #353535 !important;
    }

    table:not(class) {
        display: inline-table !important;
    }

    .alert {
        background: black !important;
    }

    .table-striped tbody tr:nth-of-type(odd), .td-content > table tbody tr:nth-of-type(odd), .td-box .row.section > table tbody tr:nth-of-type(odd) {
        background-color: rgba(255, 255, 255, 0.05) !important;
    }

    pre {
        background-color: rgba(255, 255, 255, 0.1) !important;
        color: white !important;
    }
}
// }
