<input type="search" id="search" class="light-table-filter" data-table="table" placeholder='{{ i18n "search" }}...'>
<div class="m-auto">
	<select class="selectpicker ddlFilterTableRow mb-3 mr-sm-2 category" data-attribute="category" multiple="multiple" title='{{ i18n "category" }}...' data-style="btn-outline-primary" data-actions-box="true" data-selected-text-format="count" data-width="fit">
		<option value="bezpieczeństwo" data-icon="icon-dropdown security-icon">{{ i18n "security" }}</option>
		<option value="reklamy" data-icon="icon-dropdown ads-icon">{{ i18n "ads" }}</option>
		<option value="anty-adblock" data-icon="icon-dropdown adblockDetect-icon">{{ i18n "anti-adblock" }}</option>
		<option value="społecznościowe" data-icon="icon-dropdown socialCategory-icon">{{ i18n "social" }}</option>
		<option value="ciasteczka" data-icon="icon-dropdown sweetCategory-icon">{{ i18n "cookiesCategory" }}</option>
		<option value="irytujące" data-icon="icon-dropdown annoyance-icon">{{ i18n "annoyances" }}</option>
		<option value="RSS" data-icon="icon-dropdown rssCategory-icon">RSS</option>
		<option value="sponsorowane" data-icon="icon-dropdown sponsor-icon">{{ i18n "sponsored" }}</option>
		<option value="e-handel" data-icon="icon-dropdown ecommerce-icon">{{ i18n "e-commerce" }}</option>
		<option value="prywatność" data-icon="icon-dropdown privacy-icon">{{ i18n "privacy" }}</option>
	</select>
	<select class="selectpicker ddlFilterTableRow mb-3 mr-sm-2 origin" data-attribute="origin" multiple="multiple" title='{{ i18n "origin" }}...' data-style="btn-outline-primary" data-max-options="1" data-width="fit">
		<option value="pl">{{ i18n "Polish" }}</option>
		<option value="zagraniczne">{{ i18n "foreign" }}</option>
	</select>
	<select class="selectpicker ddlFilterTableRow mb-3 mr-sm-2 adblocker" data-attribute="adblocker" multiple="multiple" title='{{ i18n "adblocker" }}...' data-style="btn-outline-primary" data-max-options="1" data-selected-text-format="count" data-width="fit">
		<option value="AB" data-icon="icon-dropdown AB-icon">AdBlock</option>
		<option value="ABP" data-icon="icon-dropdown ABP-icon">Adblock Plus</option>
		<option value="uBO" data-icon="icon-dropdown uBO-icon">uBlock Origin</option>
		<option value="AG" data-icon="icon-dropdown AG-icon">AdGuard</option>
		<option value="Ph" data-icon="icon-dropdown Ph-icon">Pi-hole</option>
		<option value="hosts" data-icon="icon-dropdown AA-icon">AdAway</option>
		<option value="hosts" data-icon="icon-dropdown Blokada-icon">Blokada</option>
		<option value="hosts" data-icon="icon-dropdown AGHome-icon">AdGuard Home</option>
		<option value="hosts" data-icon="icon-dropdown Diversion-icon">Diversion</option>
		<option value="hosts" data-icon="icon-dropdown pf-icon">pfBlockerNG</option>
		<option value="hosts" data-icon="icon-dropdown pDF-icon">personalDNSFilter</option>
	</select>
	<select class="selectpicker ddlFilterTableRow mb-3 id" id="hash" multiple="multiple" title='{{ i18n "favoriteLists" }}...' data-style="btn-outline-primary" data-attribute="hash" data-selected-text-format="count" data-width="false" data-actions-box="true" data-live-search="true" data-live-search-placeholder='{{ i18n "search"}}...'>
		{{ range $.Site.Data.FilterLists.items }}
		{{ $id := trim .title "* " | replaceRE "(\\s)" "_" | replaceRE "'" "" | lower }}
		<option value="{{ $id | md5 }}">{{ trim .title "* "}}</option>
		{{end}}
	</select>
</div>

<table class="responsive table table-sm table-striped table-bordered table-light sortable-theme" data-sortable>
	<thead>
		<tr>
			<th scope="col" class="text-center font-weight-bold">{{ upper (i18n "filterlist") }}</th>
			<th scope="col" class="text-center font-weight-bold">{{ upper (i18n "elements") }}</th>
			<th scope="col" class="text-center font-weight-bold" data-sortable="false">{{ upper (i18n "links") }}</th>
			<th scope="col" class="text-center font-weight-bold" data-sortable="false">{{ upper (i18n "alternativeLinks") }}</th>
			<th scope="col" class="text-center font-weight-bold" data-sortable="false">{{ upper (i18n "required") }}</th>
		</tr>
	</thead>
	<tbody>
		{{ range $filterlist := $.Site.Data.FilterLists.items }}
		{{ $id := trim .title "* " | replaceRE "(\\s)" "_" | replaceRE "'" "" | lower }}
		<tr class="Row" id="{{ $id }}" data-category="{{ .category}}" data-origin="{{ if .lang }}{{.lang}}{{else}}zagraniczne{{end}}" data-adblocker="{{ if findRE .adblocker "hosts"}}hosts, Ph{{ else if findRE "ABP" .adblocker }}AB, ABP, uBO, NA, AG{{ else if and (findRE "uBO, AG" .adblocker) (not (findRE "ABP" .adblocker)) (not (findRE "NA" .adblocker)) }}uBO, NA, AG{{else if (findRE "uBO" .adblocker )}}uBO, NA{{else}}{{.adblocker}}{{end}}" data-hash="{{ $id | md5 }}">
			<td class="align-middle" data-label="LISTA"><span>{{.title}}</span>
				<div>
					<a href="#{{ $id }}" class="fas fa-link"></a>
				</div>
			</td>
			<td class="align-middle" data-label="ELEMENTY"><span>{{ .desc | $.Page.RenderString }}</span></td>
			<td class="align-middle" data-label="LINKI">
				<div class="span">
					<div class="btn-group-vertical">
						{{ if not (findRE .adblocker "hosts|Ph" ) }}
						<a class="btn btn-primary mb-2r" href="{{ if findRE "AB|ABP|AG" .adblocker }}abp{{ else if findRE "uBO|NA" .adblocker }}ubo{{end}}:subscribe?location={{.subscribe}}&amp;title={{ trim .title "* " }}">
							<i class="fas fa-file-import fa-fw"></i>{{ i18n "subscribe" }}
						</a>
						{{ end }}

						<a class="btn btn-outline-info mb-2r" href="{{.subscribe}}" target="_blank" rel="noopener">
							<i class="fas fa-eye fa-fw"></i>{{ i18n "preview" }}
						</a>

						{{with .uBO_supp}}<a class="btn btn-outline-info mb-2r" href="{{.}}" target="_blank" rel="noopener" title='{{ i18n "uBOPreviewTitle" }}'>
							<i class="fas fa-eye fa-fw"></i>{{ i18n "uBOPreview" }}
						</a>{{end}}

						{{with .AG_supp}}<a class="btn btn-outline-info mb-2r" href="{{.}}" target="_blank" rel="noopener" title='{{ i18n "AGPreviewTitle" }}'>
							<i class="fas fa-eye fa-fw"></i>{{ i18n "AGPreview" }}
						</a>{{end}}

						{{with .supp}}<a class="btn btn-outline-info mb-2r" href="{{.}}" target="_blank" rel="noopener" title='{{ i18n "supplementPreviewTitle" }}'>
							<i class="fas fa-eye fa-fw"></i>{{ i18n "supplementPreview" }}
						</a>{{end}}

						{{with .modules}}<a class="btn btn-outline-info mb-2r" href="{{.}}" target="_blank" rel="noopener">
							<i class="fas fa-puzzle-piece fa-fw"></i>{{ i18n "modules" }}
						</a>{{end}}

						{{with .issues}}<a class="btn btn-outline-info mb-2r" href="{{.}}" target="_blank" rel="noopener">
							<i class="fas fa-bug fa-fw"></i>{{ i18n "reportProblem" }}
						</a>{{end}}

						{{with .form}}<a class="btn btn-outline-info mb-2r" href="{{.}}" target="_blank" rel="noopener">
							<i class="fas fa-edit fa-fw"></i>{{ i18n "form" }}
						</a>{{end}}

						{{with .forum}}<a class="btn btn-outline-info mb-2r" href="{{.}}" target="_blank" rel="noopener">
							<i class="fas fa-users fa-fw"></i>Forum
						</a>{{end}}

						{{with .chat}}<a class="btn btn-outline-info mb-2r" href="" data-secret="{{. | base64Encode}}" onmouseover="this.href = atob(this.dataset.secret);" target="_blank" rel="noopener">
							<i class="fas fa-comment-dots fa-fw"></i>{{ i18n "chat" }}
						</a>{{end}}

						{{with .mail}}<a class="btn btn-outline-info mb-2r" data-secret="{{. | base64Encode}}" href="" onmouseover="this.href = 'mailto:' + atob(this.dataset.secret);">
							<i class="fas fa-envelope fa-fw"></i>{{ i18n "sendMail" }}
						</a>{{end}}

						{{with .donate}}<a class="btn btn-outline-info mb-2r" href="{{.}}" target="_blank" rel="noopener">
							<i class="fas fa-donate fa-fw"></i>{{ i18n "donate" }}
						</a>{{end}}

						{{with .home}}<a class="btn btn-outline-info mb-2r" href="{{.}}" target="_blank" rel="noopener">
							<i class="fas fa-home fa-fw"></i>{{ i18n "home" }}
						</a>{{ end }}
					</div>
				</div>
			</td>
			<td class="align-middle" data-label="LINKI ALTERNATYWNE">
				<div class="span">
					{{ if and (not (in $filterlist.subscribe "raw.githubusercontent.com")) (not $filterlist.mirror) }} - {{ end }}
					<div class="btn-group-vertical">
						{{/*  Subskrybuj  */}}
						{{ if not (findRE .adblocker "hosts|Ph" ) }}

						{{ if or (in .subscribe "raw.githubusercontent.com") (.mirror) }}
						<div class="btn-group dropright">
							<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-file-import fa-fw"></i>
								{{ i18n "subscribe" }}
							</a>
							<div class="dropdown-menu text-center">
								<div class="btn-group-vertical">
									{{ if in .subscribe "raw.githubusercontent.com" }}
									<a class="btn btn-primary mb-2r" href="{{ if findRE "AB|ABP|AG" .adblocker }}abp{{ else if findRE "uBO|NA" .adblocker }}ubo{{end}}:subscribe?location={{ .subscribe | replaceRE  "^https?://raw.githubusercontent.com" "https://gitcdn.link/cdn" }}&amp;title={{ trim .title "* " }}">
										<i class="fas fa-file-import fa-fw"></i>GitCDN
									</a>
									<a class="btn btn-primary mb-2r" href="{{ if findRE "AB|ABP|AG" .adblocker }}abp{{ else if findRE "uBO|NA" .adblocker }}ubo{{end}}:subscribe?location={{ .subscribe | replaceRE  "^https?://raw.githubusercontent.com" "https://cdn.jsdelivr.net/gh" | replaceRE "/master/" "@master/" | replaceRE "/main/" "@main/" }}&amp;title={{ trim .title "* " }}">
										<i class="fas fa-file-import fa-fw"></i>jsDelivr
									</a>
									<a class="btn btn-primary mb-2r" href="{{ if findRE "AB|ABP|AG" .adblocker }}abp{{ else if findRE "uBO|NA" .adblocker }}ubo{{end}}:subscribe?location={{ .subscribe | replaceRE  "^https?://raw.githubusercontent.com" "https://combinatronics.io" }}&amp;title={{ trim .title "* " }}">
										<i class="fas fa-file-import fa-fw"></i>Combinatronics
									</a>
									{{ end }}
									{{ if .mirror }}
									{{ range $index, $mirrorURL := split $filterlist.mirrorURL ", " }}
									{{ $mirror := index (split $filterlist.mirror ", ") $index }}
									<a class="btn btn-primary mb-2r" href="{{ if findRE "AB|ABP|AG" $filterlist.adblocker }}abp{{ else if findRE "uBO|NA" $filterlist.adblocker }}ubo{{end}}:subscribe?location={{ $mirrorURL }}&amp;title={{ trim $filterlist.title "* " }}">
										<i class="fas fa-file-import fa-fw"></i>{{ $mirror }}
									</a>
									{{ end }}
									{{ end }}
									{{ end }}
								</div>
							</div>
						</div>
						{{ end }}

						{{/*  Podgląd  */}}
						{{ if or (in .subscribe "raw.githubusercontent.com") (.mirror) }}
						<div class="btn-group dropright">
							<a class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-eye fa-fw"></i>
								{{ i18n "preview" }}
							</a>
							<div class="dropdown-menu text-center">
								<div class="btn-group-vertical">
									{{ if in .subscribe "raw.githubusercontent.com" }}
									<a class="btn btn-outline-info mb-2r" href="{{ .subscribe | replaceRE  "^https?://raw.githubusercontent.com" "https://gitcdn.link/cdn" }}" target="_blank" rel="noopener">
										<i class="fas fa-eye fa-fw"></i>GitCDN
									</a>
									<a class="btn btn-outline-info mb-2r" href="{{ .subscribe | replaceRE  "^https?://raw.githubusercontent.com" "https://cdn.jsdelivr.net/gh" | replaceRE "/master/" "@master/" | replaceRE "/main/" "@main/" }}" target="_blank" rel="noopener">
										<i class="fas fa-eye fa-fw"></i>jsDelivr
									</a>
									<a class="btn btn-outline-info mb-2r" href="{{ .subscribe | replaceRE  "^https?://raw.githubusercontent.com" "https://combinatronics.io" }}" target="_blank" rel="noopener">
										<i class="fas fa-eye fa-fw"></i>Combinatronics
									</a>
									{{ end }}
									{{ if .mirror }}
									{{ range $index, $mirrorURL := split $filterlist.mirrorURL ", " }}
									{{ $mirror := index (split $filterlist.mirror ", ") $index }}
									<a class="btn btn-outline-info mb-2r" href="{{ $mirrorURL }}" target="_blank" rel="noopener">
										<i class="fas fa-eye fa-fw"></i>{{ $mirror }}
									</a>
									{{ end }}
									{{ end }}
								</div>
							</div>
						</div>

						{{ end }}


						{{ if in .subscribe "raw.githubusercontent.com" }}
						{{ with .uBO_supp }}
						<div class="btn-group dropright">
							<a class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title='{{ i18n "uBOPreviewTitle" }}'>
								<i class="fas fa-eye fa-fw"></i>
								{{ i18n "uBOPreview" }}
							</a>
							<div class="dropdown-menu text-center">
								<div class="btn-group-vertical">
									<a class="btn btn-outline-info mb-2r" href="{{. | replaceRE  "^https?://raw.githubusercontent.com" "https://gitcdn.link/cdn"}}" target="_blank" rel="noopener" title='{{ i18n "uBOPreviewTitle" }}'>
										<i class="fas fa-eye fa-fw"></i>GitCDN
									</a>
									<a class="btn btn-outline-info mb-2r" href="{{. | replaceRE  "^https?://raw.githubusercontent.com" "https://cdn.jsdelivr.net/gh" | replaceRE "/master/" "@master/" | replaceRE "/main/" "@main/" }}" target="_blank" rel="noopener" title='{{ i18n "uBOPreviewTitle" }}'>
										<i class="fas fa-eye fa-fw"></i>jsDelivr
									</a>
									<a class="btn btn-outline-info mb-2r" href="{{. | replaceRE  "^https?://raw.githubusercontent.com" "https://combinatronics.io"}}" target="_blank" rel="noopener" title='{{ i18n "uBOPreviewTitle" }}'>
										<i class="fas fa-eye fa-fw"></i>Combinatronics
									</a>
								</div>
							</div>
						</div>
						{{ end }}
						{{ end }}

						{{ if in .subscribe "raw.githubusercontent.com" }}
						{{ with .AG_supp }}
						<div class="btn-group dropright">
							<a class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title='{{ i18n "AGPreviewTitle" }}'>
								<i class="fas fa-eye fa-fw"></i>
								{{ i18n "AGPreview" }}
							</a>
							<div class="dropdown-menu text-center">
								<div class="btn-group-vertical">
									<a class="btn btn-outline-info mb-2r" href="{{. | replaceRE  "^https?://raw.githubusercontent.com" "https://gitcdn.link/cdn"}}" target="_blank" rel="noopener" title='{{ i18n "AGPreviewTitle" }}'>
										<i class="fas fa-eye fa-fw"></i>GitCDN
									</a>
									<a class="btn btn-outline-info mb-2r" href="{{. | replaceRE  "^https?://raw.githubusercontent.com" "https://cdn.jsdelivr.net/gh" | replaceRE "/master/" "@master/" | replaceRE "/main/" "@main/" }}" target="_blank" rel="noopener" title='{{ i18n "AGPreviewTitle" }}'>
										<i class="fas fa-eye fa-fw"></i>jsDelivr
									</a>
									<a class="btn btn-outline-info mb-2r" href="{{. | replaceRE  "^https?://raw.githubusercontent.com" "https://combinatronics.io"}}" target="_blank" rel="noopener" title='{{ i18n "AGPreviewTitle" }}'>
										<i class="fas fa-eye fa-fw"></i>Combinatronics
									</a>
								</div>
							</div>
						</div>
						{{ end }}
						{{ end }}

						{{ if in .subscribe "raw.githubusercontent.com" }}
						{{ with .supp }}
						<div class="btn-group dropright">
							<a class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title='{{ i18n "supplementPreviewTitle" }}'>
								<i class="fas fa-eye fa-fw"></i>
								{{ i18n "supplementPreview" }}
							</a>
							<div class="dropdown-menu text-center">
								<div class="btn-group-vertical">
									<a class="btn btn-outline-info mb-2r" href="{{. | replaceRE  "^https?://raw.githubusercontent.com" "https://gitcdn.link/cdn"}}" target="_blank" rel="noopener" title='{{ i18n "supplementPreviewTitle" }}'>
										<i class="fas fa-eye fa-fw"></i>GitCDN
									</a>
									<a class="btn btn-outline-info mb-2r" href="{{. | replaceRE  "^https?://raw.githubusercontent.com" "https://cdn.jsdelivr.net/gh" | replaceRE "/master/" "@master/" | replaceRE "/main/" "@main/" }}" target="_blank" rel="noopener" title='{{ i18n "supplementPreviewTitle" }}'>
										<i class="fas fa-eye fa-fw"></i>jsDelivr
									</a>
									<a class="btn btn-outline-info mb-2r" href="{{. | replaceRE  "^https?://raw.githubusercontent.com" "https://combinatronics.io"}}" target="_blank" rel="noopener" title='{{ i18n "supplementPreviewTitle" }}'>
										<i class="fas fa-eye fa-fw"></i>Combinatronics
									</a>
								</div>
							</div>
						</div>
						{{ end }}
						{{ end }}
					</div>
				</div>
			</td>
			<td class="align-middle" data-label="WYMAGANE">
				<div class="span">
					{{ if findRE "ABP" .adblocker }}
					<a href="https://getadblock.com/" target="_blank" rel="noopener"><img src="{{ "images/AdBlock.svg" | relURL }}" style="width:32px;height:32px" title="AdBlock"></a>
					<a href="https://adblockplus.org/" target="_blank" rel="noopener"><img src="{{ "images/ABP_32.png" | relURL }}" style="width:32px;height:32px" title="Adblock Plus"></a>
					<a href="https://github.com/gorhill/uBlock" target="_blank" rel="noopener"><img src="{{ "images/uBO_32.png" | relURL }}" style="width:32px;height:32px" title="uBlock Origin"></a>
					<a href="https://adguard.com/" target="_blank" rel="noopener"><img src="{{ "images/AdGuard_logo_32.png" | relURL }}" style="width:32px;height:32px" title="AdGuard"></a>
					{{end}}

					{{ if and (findRE "uBO" .adblocker) (not (findRE "ABP" .adblocker)) }}
					<a href="https://github.com/gorhill/uBlock" target="_blank" rel="noopener"><img src="{{ "images/uBO_32.png" | relURL }}" style="width:32px;height:32px" title="uBlock Origin"></a>
					{{end}}

					{{ if and (findRE "AG" .adblocker) (not (findRE "ABP" .adblocker)) }}
					<a href="https://adguard.com/" target="_blank" rel="noopener"><img src="{{ "images/AdGuard_logo_32.png" | relURL }}" style="width:32px;height:32px" title="AdGuard"></a>
					{{end}}

					{{ if findRE "hosts" .adblocker }}
					<a href="https://adaway.org/" target="_blank" rel="noopener"><img src="{{ "images/AdAway.svg" | relURL }}" style="width:32px;height:32px" title="AdAway"></a>
					<a href="https://adguard.com/adguard-home/overview.html" target="_blank" rel="noopener"><img src="{{ "images/AGHome.svg" | relURL }}" style="width:32px;height:32px" title="AdGuard Home"></a>
					<a href="https://blokada.org/" target="_blank" rel="noopener"><img src="{{ "images/Blokada.png" | relURL }}" style="width:32px;height:32px" title="Blokada"></a>
					<a href="https://pi-hole.net/" target="_blank" rel="noopener"><img src="{{ "images/Pi-hole.svg" | relURL }}" style="width:32px;height:32px" title="Pi-hole"></a>
					<a href="https://diversion.ch/" target="_blank" rel="noopener"><img src="{{ "images/Diversion.png" | relURL }}" style="width:32px;height:32px" title="Diversion"></a>
					<a href="https://www.reddit.com/r/pfBlockerNG/" target="_blank" rel="noopener"><img src="{{ "images/pfBlockerNG.jpg" | relURL }}" style="width:32px;height:32px" title="pfBlockerNG"></a>
					<a href="https://zenz-solutions.de/personaldnsfilter/" target="_blank" rel="noopener"><img src="{{ "images/personalDNSFilter.svg" | relURL }}" style="width:32px;height:32px" title="personalDNSfilter"></a>
					{{end}}

					{{ if findRE "Ph" .adblocker }}
					<a href="https://pi-hole.net/" target="_blank" rel="noopener"><img src="{{ "images/Pi-hole.svg" | relURL }}" style="width:32px;height:32px" title="Pi-hole"></a>
					{{end}}

					{{ if .requiredTitle }}
					<div class="d-block pt-2">
						<div class="btn-group-vertical">
							{{ range $index, $requiredLocation := split $filterlist.requiredLocation ", " }}
							{{ $requiredTitle := index (split $filterlist.requiredTitle ", ") $index }}
							{{ $requiredType := index (split $filterlist.requiredType ", ") $index }}
							{{ if ne $requiredType "normal" }}
							<a class="btn btn-outline-danger mb-2r" href="{{ if findRE "AB|ABP|AG" $filterlist.adblocker }}abp{{ else }}ubo{{end}}:subscribe?location={{$requiredLocation}}&amp;title={{ trim $requiredTitle "* " }}">
								<i class="fas fa-file-import fa-fw"></i>{{$requiredTitle}}
							</a>
							{{ else }}
							<a class="btn btn-outline-danger mb-2r" href="{{$requiredLocation}}" target="_blank" rel="noopener">
								<i class="fab fa-readme fa-fw"></i>{{$requiredTitle}}
							</a>
							{{ end }}
							{{ end }}
						</div>
					</div>
					{{end}}
				</div>
			</td>
		</tr>
		{{end}}
	</tbody>
</table>


{{ $selectFilter := resources.Get "js/multipleSelectFilter.js" }}
{{ $select := resources.Get "js/bootstrap-select.min.js" }}
{{ $selectPolish := resources.Get "js/bootstrap-select-translations/defaults-pl_PL.min.js" }}
{{ $filterSearch := resources.Get "js/light-table-filter.min.js" }}
{{ $sort := resources.Get "js/sortable.min.js" }}
{{ $mirror := resources.Get "js/table-utils.js" }}

{{ $js := slice $selectFilter $select $filterSearch $sort $mirror | resources.Concat "js/table_bundle.js" | minify | fingerprint }}
{{ if eq .Site.Language.Lang "pl" }}
{{ $jspl := slice $js $selectPolish | resources.Concat "js/table_bundle_pl.js" | minify | fingerprint }}
<script defer src="{{ $jspl.Permalink | relURL }}" integrity="{{ $jspl.Data.Integrity }}"></script>
{{ else }}
<script defer src="{{ $js.Permalink | relURL }}" integrity="{{ $js.Data.Integrity }}"></script>
{{ end }}
