<footer class="td-footer row d-print-none">
  <div class="container-fluid">
    <div class="row mx-md-2">
      <div class="td-footer__left col-6 col-sm-4 order-sm-1">
        {{ partial "footer/left.html"  . }}
      </div>
      {{- /* Trim WS */ -}}
      <div class="td-footer__right col-6 col-sm-4 order-sm-3">
        {{ partial "footer/right.html"  . }}
        <div class="form-check">
          {{ $onLabel := printf "data-onlabel=%q" (i18n "darkMode") | safeHTMLAttr }}
          {{ $offLabel := printf "data-offlabel=%q" (i18n "lightMode") | safeHTMLAttr }}
          <input type="checkbox" class="form-check-input" id="darkSwitch" data-toggle="toggle" {{$onLabel}} {{$offLabel}} data-style="round" data-onstyle="dark" data-offstyle="light" />
      </div>
      </div>
      {{- /* Trim WS */ -}}
      <div class="td-footer__center col-12 col-sm-4 py-2 order-sm-2">
        {{ partial "footer/center.html"  . }}
      </div>
    </div>
  </div>
</footer>