name: GitHub Pages

on:
  push:
    branches:
      - gh-pages  # Set a branch to deploy
  pull_request:
    branches:
      - gh-pages

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive  # Fetch the Docsy theme
          fetch-depth: 0         # Fetch all history for .GitInfo and .Lastmod

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'
          extended: true

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'

      - name: Build
        run: |
          git rm -rf ./docs
          cd ./website/themes/docsy && npm install
          cd "$GITHUB_WORKSPACE"/website
          npm i -D --save autoprefixer postcss-cli postcss
          hugo --minify

      - name: Upload test build
        if: github.event_name == 'pull_request'
        uses: actions/upload-artifact@v3
        with:
          name: polish-ads-filter_website_${{github.sha}}
          path: ./docs/

      - name: Deploy
        if: github.event.pull_request.merged == true || github.event_name == 'push'
        run: |
          git config --local user.name 'github-actions[bot]'
          git config --local user.email 'github-actions[bot]@users.noreply.github.com'
          git add ./docs/*
          git commit -m "Deploy updated website ($GITHUB_SHA)"
          git push origin gh-pages
